openai-whisper
webrtcvad
scipy
numpy
pydub
audioop-lts
groq
anthropic
fastapi
uvicorn
python-multipart
supabase
opencv-python-headless
pillow
ultralytics
torch
open_clip_torch
googlemaps
scikit-learn
