openai-whisper
webrtcvad
scipy
numpy
pydub==0.25.1
google-genai
groq
anthropic
fastapi
uvicorn
python-multipart
supabase
opencv-python-headless
pillow
ultralytics
torch
open_clip_torch
googlemaps
scikit-learn
sentence-transformers
